<div class="gallery-body">
    <div class="title-wrapper">
        <h3>Coffee Table</h3>
    </div>
    <div class="checkout-column">
        <img class="materialboxed" width="300" src="https://images.zgallerie.com/is/image/ZGallerie/hero/vincente-coffee-table-set-of-2-011601817.jpg">
        <br>


        <button class="btn-large z-depth-0" type="submit" name="edit">
            <span>Submit Change</span>
        </button>
    </div>

    <div class="description">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="description">Product Description</label>
                    </div>
                </div>
            </form>
        </div>

        </form>
    </div>
</div>
</div>