<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#7db557">
  <link rel="canonical" href="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">

  <title>
    MarketPlace
  </title>

  <meta property="og:site_name" content="Materialize Shopify Themes">
  <meta property="og:url" content="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">
  <meta property="og:title" content="Fillscreen Style">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Materialize Shopify Themes">


  <meta name="twitter:site" content="@materializecss">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Fillscreen Style">
  <meta name="twitter:description" content="Materialize Shopify Themes">



  <link href="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/gallery-materialize.min.css?12888061890507140117"
    rel="stylesheet" type="text/css" media="all" />

  <link href="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/theme.scss.css?12888061890507140117" rel="stylesheet"
    type="text/css" media="all" />

  <!-- Lato Font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<body>


  {{{body}}}


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Materialized Javascript CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script type="text/javascript" src="/styles.styles.css"></script> --}}

  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/addProduct.js"></script>

</body>

</html>