<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <title>Home Page</title>
  <!-- CSS reset -->
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css"> --}}
  <!-- Bootstrap CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS reset -->
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css"> --}}
  <!--Google FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="row">
    <div id="friendNav" class="col-md-12">
      <a id="home" href="home.html"><i class="fa fa-home marginLeft20"></i></a>
      <h5>Watson Marketplace</h5>
    </div>
  </div>

  {{{body}}}

  <footer class="footer">
    <div class="container">
      <a href="https://github.com/russellharben">Github - 2019</a>
    </div>
  </footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script type="text/javascript" src="/styles.styles.css"></script> --}}
</body>

</html>