{{> header/header }}



<main role="main" id="MainContent">

  <nav style="height: 0px; " class="filter-navbar ">
    <div class="categories-wrapper">
      <div class="categories-container">
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row marginTop20">
      <div class="col m12">


        {{> categories/categories }}
        
        <!-- Popular Categories -->
        <div class="popularCategories borderBottomGray">
          <h6>Popular Categories</h6>
          <ul class="categories">
            <li class="btn btn-small"><a href="#">Gaming</a></li>
            <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Retail</a></li>
            <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Nature</a></li>
          </ul>
        </div>

        {{#each category}}
        <div class="gallery gallery-masonry row">
          <div class="col s12 m4 gallery-item gallery-expand gallery-filter gallery-fillscreen" data-type=""
            data-section-type="product" data-tag="fillscreen">
            <div class="gallery-curve-wrapper">
              <a class="gallery-cover gray">
                <img src="{{this.image}}" alt="{{this.name}}" crossorigin="anonymous" data-product-featured-image="" />
              </a>

              <div class="gallery-header">
                <span class="title">{{this.name}}</span>
                <div class="product-ratings-price">
                  <span class="price" data-product-price="">
                    {{this.price}}
                  </span>
                </div>
              </div>

            </div>

          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</main>


{{> footer/footer }}