<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Product</h5>
          {{!-- <p>
            <strong>ID</strong>: {{product.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{produc.name}}</p>
          <p>
            <a href="/">← Back To Home</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>
