<h1>Add Your Product to the Marketplace!</h1>


<h2>Add an Item Already!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="item">Product Name:</label>
    <input type="text" id="item" name="name">
  </div>

  <div class="form-group">
    <label for="newItem">Satisified With This Product?</label><br>
    <input type="radio" name="newItem" value="1" checked> Upoload Already!<br>
    <input type="radio" name="sleepy" value="0"> Do Not Upoload
  </div>

  <button type="submit">Add Product</button>
</form>