{{> header/header }}

<main role="main" id="MainContent">

  <nav style="height: 0px; " class="filter-navbar ">
    <div class="categories-wrapper">
      <div class="categories-container">
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="row borderBottomGray">
      <div class="col m12">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#!' data-target='dropdown1'>All Categories<i
            class="fas fa-caret-down marginLeft10"></i></a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li data-name="technology"><a href="#!">Technology</a></li>
          <li><a href="#!">Sports</a></li>
          <li><a href="#!">Cars</a></li>
          <li><a href="#!">Leisure</a></li>
          <li><a href="#!">Fashion</a></li>
        </ul>
        <!-- Popular Categories -->
        <div class="popularCategories">
          <h6>Popular Categories</h6>
          <ul class="categories">
            <li class="btn btn-small"><a href="#">Gaming</a></li>
            <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Retail</a></li>
            <li class="btn btn-small"><a href="#">Politics</a></li>
            <li class="btn btn-small"><a href="#">Nature</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="gallery gallery-masonry row">
      {{#each product}}
      <div class="col s12 m4 gallery-item gallery-expand gallery-filter gallery-fillscreen" data-type=""
        data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">
            <img src="{{this.image}}" alt="{{this.name}}" crossorigin="anonymous" data-product-featured-image="" />
          </a>

          <div class="gallery-header">
            <span class="title">{{this.name}}</span>
            <div class="product-ratings-price">
              <span class="price" data-product-price="">
                {{this.price}}
              </span>
            </div>
          </div>

          {{> actions/viewProduct}}

        </div>
        {{/each}}

      </div>
    </div>
  </div>
</main>


{{> footer/footer }}