<a class="in-page-link visually-hidden skip-link" href="#MainContent">Skip to content</a>

<div id="shopify-section-header" class="shopify-section">


  <style>

  </style>

  <!-- Navbar and Header -->

  <nav class="nav-extended">


    <div class="nav-background">
      <div class="pattern active"
        style="background-image: url('//cdn.shopify.com/s/files/1/2030/2737/files/icon-seamless_ef568d79-394b-49ab-a3c5-128827d788e8.png?v=1496294246');">
      </div>
    </div>


    <div class="nav-wrapper container">
      <a href="/" itemprop="url" class="brand-logo site-logo">
        MarketPlace
      </a>


      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">



        <li>
          <a href="/" class="site-nav__link">Home</a>
        </li>

        <li>
          <a href="/" class="site-nav__link">New Product</a>
        </li>






        <!-- Show Carousel instead of default page titles -->



    </div>
  </nav>
  <ul class="side-nav" id="nav-mobile">



    <li> <a href="/account/login" id="customer_login_link">Log in</a> </li>
    <li> <a href="/account/register" id="customer_register_link">Create account</a> </li>





    <li>
      <a href="/" class="site-nav__link">Home</a>
    </li>



    <li class="site-nav--has-submenu">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Features<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body no-padding">
            <ul>

              <li>
                <a href="/pages/dark-theme" class="site-nav__link">Dark Theme</a>
              </li>

              <li>
                <a href="/collections/dark-theme" class="site-nav__link">Dark Collection</a>
              </li>

              <li class="site-nav--active">
                <a href="/collections/fillscreen-style" class="site-nav__link">Fillscreen</a>
              </li>

              <li>
                <a href="/collections/horizontal" class="site-nav__link">Horizontal</a>
              </li>

              <li>
                <a href="/collections/all-products" class="site-nav__link">No Header</a>
              </li>

              <li>
                <a href="/pages/contact-us" class="site-nav__link">Contact Us</a>
              </li>

            </ul>
          </div>
        </li>
      </ul>
    </li>



    <li>
      <a href="/blogs/news" class="site-nav__link">Blog</a>
    </li>



    <li>
      <a href="/cart">
        Cart

      </a>
    </li>

    <li>
      <a class="fullscreen-search" href="#">
        Search
      </a>
    </li>
  </ul>

  <div data-section-id="header" data-section-type="header-section">
    <header role="banner">

      <div class="popup-search-wrapper">
        <form action="/search" method="get" role="search">
          <label for="Search" class="label-hidden">
            Search our store
          </label>
          <input type="search" name="q" id="Search" value="" placeholder="Search our store">
          <button type="submit" class="btn-flat btn-floating waves-effect">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 20 20">
              <path fill="#444"
                d="M18.64 17.02l-5.31-5.31c.81-1.08 1.26-2.43 1.26-3.87C14.5 4.06 11.44 1 7.75 1S1 4.06 1 7.75s3.06 6.75 6.75 6.75c1.44 0 2.79-.45 3.87-1.26l5.31 5.31c.45.45 1.26.54 1.71.09.45-.36.45-1.17 0-1.62zM3.25 7.75c0-2.52 1.98-4.5 4.5-4.5s4.5 1.98 4.5 4.5-1.98 4.5-4.5 4.5-4.5-1.98-4.5-4.5z" />
              </svg>
            <span class="icon-fallback-text">Search</span>
          </button>
        </form>

        <i class="popup-close material-icons">close</i>
      </div>

    </header>
  </div>


</div>

<main role="main" id="MainContent">











  <nav style="height: 0px; " class="filter-navbar ">
    <div class="categories-wrapper">
      <div class="categories-container">



      </div>
    </div>
  </nav>




  <div class=" container ">
    <div class="gallery gallery-masonry row">



      <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">



          <a class="gallery-cover gray">
            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead.jpg?v=1499414076" alt="Workspace"
              crossorigin="anonymous" data-product-featured-image />
          </a>




          <div class="gallery-header">
            <span class="title">Workspace</span>
            <div class="product-ratings-price">

              <span class="shopify-product-reviews-badge" data-id="10400383501"></span>


              <span class="price" data-product-price>
                $110.00
              </span>
            </div>
          </div>


          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Workspace</h3>
            </div>
            <div class="checkout-column">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <div class="price-quantity-wrapper">
                  <div class="price-wrapper" data-price-wrapper>
                    <label>price</label>
                    <span class="price" data-product-price>
                      $110.00
                    </span>


                  </div>

                  <div class="input-field quantity-counter">
                    <label for="Quantity">quantity</label>
                    <i class="material-icons remove">remove_circle_outline</i>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                    <i class="material-icons add">add_circle_outline</i>
                  </div>
                </div>



                <select name="id" class="no-js" data-product-select>

                  <option selected="selected" value="40280428877">
                    Default Title
                  </option>

                </select>


                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                  <span data-add-to-cart-text>

                    Add to Cart

                  </span>
                </button>


                <div class="tags-wrapper">
                  <label>tags</label>
                  <div class="tags">

                    <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                        title="Show products matching tag Fillscreen">Fillscreen</a></div>

                  </div>
                </div>


              </form>
            </div>
            <div class="description">
              <p>
                <meta charset="utf-8"><span>Paleo vaporware normcore voluptate veniam synth pour-over tousled small
                  batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over
                  normcore ea fashion axe hashtag kogi.</span></p>



              <div id="shopify-product-reviews" data-id="10400383501">
                <style scoped>
                  .spr-container {
                    padding: 24px;
                    border-color: #ECECEC;
                  }

                  .spr-review,
                  .spr-form {
                    border-color: #ECECEC;
                  }
                </style>

                <div class="spr-container">
                  <div class="spr-header">
                    <h2 class="spr-header-title">Customer Reviews</h2>
                    <div class="spr-summary" itemscope itemprop="aggregateRating"
                      itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="itemreviewed" content="Workspace">

                      <span class="spr-starrating spr-summary-starrating">
                        <meta itemprop="bestRating" content="5">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="reviewCount" content="2">
                        <meta itemprop="ratingValue" content="5.0">
                        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i
                          class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i
                          class='spr-icon spr-icon-star' style=''></i>
                      </span>
                      <span class="spr-summary-caption"><span class='spr-summary-actions-togglereviews'>Based on 2
                          reviews</span>
                      </span><span class="spr-summary-actions">
                        <a href='#' class='spr-summary-actions-newreview'
                          onclick='SPR.toggleForm(10400383501);return false'>Write a review</a>
                      </span>
                    </div>
                  </div>

                  <div class="spr-content">
                    <div class='spr-form' id='form_10400383501' style='display: none'></div>
                    <div class='spr-reviews' id='reviews_10400383501'></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="gallery-action">


            <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">star</i>
            </a>



          </div>
        </div>

        <script type="application/json" data-product-json>
      {"id":10400383501,"title":"Workspace","handle":"workspace","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e","published_at":"2017-07-07T03:54:10-04:00","created_at":"2017-07-07T03:54:34-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":11000,"price_min":11000,"price_max":11000,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280428877,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Workspace","public_title":null,"options":["Default Title"],"price":11000,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead.jpg?v=1499414076"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead.jpg?v=1499414076","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e"}
    </script>

      </div>



      <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">



          <a class="gallery-cover gray">
            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead3.jpg?v=1499414173" alt="Workshop"
              crossorigin="anonymous" data-product-featured-image />
          </a>




          <div class="gallery-header">
            <span class="title">Workshop</span>
            <div class="product-ratings-price">

              <span class="shopify-product-reviews-badge" data-id="10400394189"></span>


              <span class="price" data-product-price>
                $95.00
              </span>
            </div>
          </div>


          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Workshop</h3>
            </div>
            <div class="checkout-column">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <div class="price-quantity-wrapper">
                  <div class="price-wrapper" data-price-wrapper>
                    <label>price</label>
                    <span class="price" data-product-price>
                      $95.00
                    </span>


                  </div>

                  <div class="input-field quantity-counter">
                    <label for="Quantity">quantity</label>
                    <i class="material-icons remove">remove_circle_outline</i>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                    <i class="material-icons add">add_circle_outline</i>
                  </div>
                </div>



                <select name="id" class="no-js" data-product-select>

                  <option selected="selected" value="40280530381">
                    Default Title
                  </option>

                </select>


                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                  <span data-add-to-cart-text>

                    Add to Cart

                  </span>
                </button>


                <div class="tags-wrapper">
                  <label>tags</label>
                  <div class="tags">

                    <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                        title="Show products matching tag Fillscreen">Fillscreen</a></div>

                  </div>
                </div>


              </form>
            </div>
            <div class="description">
              <p>
                <meta charset="utf-8"><span>Literally venmo before they sold out, DIY heirloom forage polaroid offal yr
                  pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold
                  out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next
                  level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small
                  batch.</span></p>



              <div id="shopify-product-reviews" data-id="10400394189">
                <style scoped>
                  .spr-container {
                    padding: 24px;
                    border-color: #ECECEC;
                  }

                  .spr-review,
                  .spr-form {
                    border-color: #ECECEC;
                  }
                </style>

                <div class="spr-container">
                  <div class="spr-header">
                    <h2 class="spr-header-title">Customer Reviews</h2>
                    <div class="spr-summary" itemscope itemprop="aggregateRating"
                      itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="itemreviewed" content="Workshop">

                      <span class="spr-starrating spr-summary-starrating">
                        <meta itemprop="bestRating" content="5">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="reviewCount" content="7">
                        <meta itemprop="ratingValue" content="4.142857142857143">
                        <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star-half-alt"></i>
                      </span>
                      <span class="spr-summary-caption"><span class='spr-summary-actions-togglereviews'>Based on 7
                          reviews</span>
                      </span><span class="spr-summary-actions">
                        <a href='#' class='spr-summary-actions-newreview'
                          onclick='SPR.toggleForm(10400394189);return false'>Write a review</a>
                      </span>
                    </div>
                  </div>

                  <div class="spr-content">
                    <div class='spr-form' id='form_10400394189' style='display: none'></div>
                    <div class='spr-reviews' id='reviews_10400394189'></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="gallery-action">


            <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">star</i>
            </a>



          </div>
        </div>

        <script type="application/json" data-product-json>
      {"id":10400394189,"title":"Workshop","handle":"workshop","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003eLiterally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.\u003c\/span\u003e","published_at":"2017-07-07T03:55:41-04:00","created_at":"2017-07-07T03:56:11-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":9500,"price_min":9500,"price_max":9500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280530381,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Workshop","public_title":null,"options":["Default Title"],"price":9500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead3.jpg?v=1499414173"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead3.jpg?v=1499414173","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003eLiterally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.\u003c\/span\u003e"}
    </script>

      </div>



      <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">



          <a class="gallery-cover gray">
            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead2.jpg?v=1499414107" alt="Studio"
              crossorigin="anonymous" data-product-featured-image />
          </a>




          <div class="gallery-header">
            <span class="title">Studio</span>
            <div class="product-ratings-price">

              <span class="shopify-product-reviews-badge" data-id="10400386893"></span>


              <span class="price" data-product-price>
                $75.00
              </span>
            </div>
          </div>


          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Studio</h3>
            </div>
            <div class="checkout-column">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <div class="price-quantity-wrapper">
                  <div class="price-wrapper" data-price-wrapper>
                    <label>price</label>
                    <span class="price" data-product-price>
                      $75.00
                    </span>


                  </div>

                  <div class="input-field quantity-counter">
                    <label for="Quantity">quantity</label>
                    <i class="material-icons remove">remove_circle_outline</i>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                    <i class="material-icons add">add_circle_outline</i>
                  </div>
                </div>



                <select name="id" class="no-js" data-product-select>

                  <option selected="selected" value="40280453517">
                    Default Title
                  </option>

                </select>


                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                  <span data-add-to-cart-text>

                    Add to Cart

                  </span>
                </button>


                <div class="tags-wrapper">
                  <label>tags</label>
                  <div class="tags">

                    <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                        title="Show products matching tag Fillscreen">Fillscreen</a></div>

                  </div>
                </div>


              </form>
            </div>
            <div class="description">
              <p>
                <meta charset="utf-8"><span>Paleo vaporware normcore voluptate veniam synth pour-over tousled small
                  batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over
                  normcore ea fashion axe hashtag kogi.</span></p>



              <div id="shopify-product-reviews" data-id="10400386893">
                <style scoped>
                  .spr-container {
                    padding: 24px;
                    border-color: #ECECEC;
                  }

                  .spr-review,
                  .spr-form {
                    border-color: #ECECEC;
                  }
                </style>

                <div class="spr-container">
                  <div class="spr-header">
                    <h2 class="spr-header-title">Customer Reviews</h2>
                    <div class="spr-summary" itemscope itemprop="aggregateRating"
                      itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="itemReviewed" content="Studio">

                      <span class="spr-starrating spr-summary-starrating">
                        <meta itemprop="bestRating" content="5">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="reviewCount" content="3">
                        <meta itemprop="ratingValue" content="4.0">
                        <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star-empty"></i>
                      </span>
                      <span class="spr-summary-caption"><span class='spr-summary-actions-togglereviews'>Based on 3
                          reviews</span>
                      </span><span class="spr-summary-actions">
                        <a href='#' class='spr-summary-actions-newreview'
                          onclick='SPR.toggleForm(10400386893);return false'>Write a review</a>
                      </span>
                    </div>
                  </div>

                  <div class="spr-content">
                    <div class='spr-form' id='form_10400386893' style='display: none'></div>
                    <div class='spr-reviews' id='reviews_10400386893'></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="gallery-action">


            <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">star</i>
            </a>



          </div>
        </div>

        <script type="application/json" data-product-json>
      {"id":10400386893,"title":"Studio","handle":"studio","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e","published_at":"2017-07-07T03:54:40-04:00","created_at":"2017-07-07T03:55:05-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":7500,"price_min":7500,"price_max":7500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280453517,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Studio","public_title":null,"options":["Default Title"],"price":7500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead2.jpg?v=1499414107"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead2.jpg?v=1499414107","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e"}
    </script>

      </div>



      <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">



          <a class="gallery-cover gray">
            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead5.jpg?v=1499414137" alt="Kitchen"
              crossorigin="anonymous" data-product-featured-image />
          </a>




          <div class="gallery-header">
            <span class="title">Kitchen</span>
            <div class="product-ratings-price">

              <span class="shopify-product-reviews-badge" data-id="10400390733"></span>


              <span class="price" data-product-price>
                $120.00
              </span>
            </div>
          </div>


          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Kitchen</h3>
            </div>
            <div class="checkout-column">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <div class="price-quantity-wrapper">
                  <div class="price-wrapper" data-price-wrapper>
                    <label>price</label>
                    <span class="price" data-product-price>
                      $120.00
                    </span>


                  </div>

                  <div class="input-field quantity-counter">
                    <label for="Quantity">quantity</label>
                    <i class="material-icons remove">remove_circle_outline</i>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                    <i class="material-icons add">add_circle_outline</i>
                  </div>
                </div>



                <select name="id" class="no-js" data-product-select>

                  <option selected="selected" value="40280494349">
                    Default Title
                  </option>

                </select>


                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                  <span data-add-to-cart-text>

                    Add to Cart

                  </span>
                </button>


                <div class="tags-wrapper">
                  <label>tags</label>
                  <div class="tags">

                    <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                        title="Show products matching tag Fillscreen">Fillscreen</a></div>

                  </div>
                </div>


              </form>
            </div>
            <div class="description">
              <p>
                <meta charset="utf-8"><span>Paleo vaporware normcore voluptate veniam synth pour-over tousled small
                  batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over
                  normcore ea fashion axe hashtag kogi.</span></p>



              <div id="shopify-product-reviews" data-id="10400390733">
                <style scoped>
                  .spr-container {
                    padding: 24px;
                    border-color: #ECECEC;
                  }

                  .spr-review,
                  .spr-form {
                    border-color: #ECECEC;
                  }
                </style>

                <div class="spr-container">
                  <div class="spr-header">
                    <h2 class="spr-header-title">Customer Reviews</h2>
                    <div class="spr-summary" itemscope itemprop="aggregateRating"
                      itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="itemReviewed" content="Kitchen">

                      <span class="spr-starrating spr-summary-starrating">
                        <meta itemprop="bestRating" content="5">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="reviewCount" content="7">
                        <meta itemprop="ratingValue" content="4.0">
                        <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star-empty"></i>
                      </span>
                      <span class="spr-summary-caption"><span class='spr-summary-actions-togglereviews'>Based on 7
                          reviews</span>
                      </span><span class="spr-summary-actions">
                        <a href='#' class='spr-summary-actions-newreview'
                          onclick='SPR.toggleForm(10400390733);return false'>Write a review</a>
                      </span>
                    </div>
                  </div>

                  <div class="spr-content">
                    <div class='spr-form' id='form_10400390733' style='display: none'></div>
                    <div class='spr-reviews' id='reviews_10400390733'></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="gallery-action">


            <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">star</i>
            </a>



          </div>
        </div>

        <script type="application/json" data-product-json>
      {"id":10400390733,"title":"Kitchen","handle":"kitchen","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e","published_at":"2017-07-07T03:55:24-04:00","created_at":"2017-07-07T03:55:35-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":12000,"price_min":12000,"price_max":12000,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280494349,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Kitchen","public_title":null,"options":["Default Title"],"price":12000,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead5.jpg?v=1499414137"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead5.jpg?v=1499414137","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e"}
    </script>

      </div>



      <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
        <div class="gallery-curve-wrapper">



          <a class="gallery-cover gray">
            <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead4.jpg?v=1499414190" alt="Countertop"
              crossorigin="anonymous" data-product-featured-image />
          </a>




          <div class="gallery-header">
            <span class="title">Countertop</span>
            <div class="product-ratings-price">

              <span class="shopify-product-reviews-badge" data-id="10400397197"></span>


              <span class="price" data-product-price>
                $80.00
              </span>
            </div>
          </div>


          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Countertop</h3>
            </div>
            <div class="checkout-column">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <div class="price-quantity-wrapper">
                  <div class="price-wrapper" data-price-wrapper>
                    <label>price</label>
                    <span class="price" data-product-price>
                      $80.00
                    </span>


                  </div>

                  <div class="input-field quantity-counter">
                    <label for="Quantity">quantity</label>
                    <i class="material-icons remove">remove_circle_outline</i>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                    <i class="material-icons add">add_circle_outline</i>
                  </div>
                </div>



                <select name="id" class="no-js" data-product-select>

                  <option selected="selected" value="40280550477">
                    Default Title
                  </option>

                </select>


                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                  <span data-add-to-cart-text>

                    Add to Cart

                  </span>
                </button>


                <div class="tags-wrapper">
                  <label>tags</label>
                  <div class="tags">

                    <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                        title="Show products matching tag Fillscreen">Fillscreen</a></div>

                  </div>
                </div>


              </form>
            </div>
            <div class="description">
              <p>
                <meta charset="utf-8"><span>Literally venmo before they sold out, DIY heirloom forage polaroid offal yr
                  pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold
                  out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next
                  level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small
                  batch.</span></p>



              <div id="shopify-product-reviews" data-id="10400397197">
                <style scoped>
                  .spr-container {
                    padding: 24px;
                    border-color: #ECECEC;
                  }

                  .spr-review,
                  .spr-form {
                    border-color: #ECECEC;
                  }
                </style>

                <div class="spr-container">
                  <div class="spr-header">
                    <h2 class="spr-header-title">Customer Reviews</h2>
                    <div class="spr-summary" itemscope itemprop="aggregateRating"
                      itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="itemReviewed" content="Countertop">

                      <span class="spr-starrating spr-summary-starrating">
                        <meta itemprop="bestRating" content="5">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="reviewCount" content="6">
                        <meta itemprop="ratingValue" content="4.5">
                        <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                          class="spr-icon spr-icon-star-half-alt"></i>
                      </span>
                      <span class="spr-summary-caption"><span class='spr-summary-actions-togglereviews'>Based on 6
                          reviews</span>
                      </span><span class="spr-summary-actions">
                        <a href='#' class='spr-summary-actions-newreview'
                          onclick='SPR.toggleForm(10400397197);return false'>Write a review</a>
                      </span>
                    </div>
                  </div>

                  <div class="spr-content">
                    <div class='spr-form' id='form_10400397197' style='display: none'></div>
                    <div class='spr-reviews' id='reviews_10400397197'></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="gallery-action">


            <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">star</i>
            </a>



          </div>
        </div>

        <script type="application/json" data-product-json>
      {"id":10400397197,"title":"Countertop","handle":"countertop","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003eLiterally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.\u003c\/span\u003e","published_at":"2017-07-07T03:56:18-04:00","created_at":"2017-07-07T03:56:28-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":8000,"price_min":8000,"price_max":8000,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280550477,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Countertop","public_title":null,"options":["Default Title"],"price":8000,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead4.jpg?v=1499414190"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead4.jpg?v=1499414190","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003eLiterally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.\u003c\/span\u003e"}
    </script>

      </div>

    </div>
  </div>

</main>

<div id="shopify-section-footer" class="shopify-section">
  <footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col s12 m4">
          <h5>Social</h5>
          <ul class="social-icons">

            <li>
              <a href="http://facebook.com" title="Materialize Shopify Themes on Facebook">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook"
                  viewBox="0 0 20 20">
                  <path fill="#444"
                    d="M18.05.811q.439 0 .744.305t.305.744v16.637q0 .439-.305.744t-.744.305h-4.732v-7.221h2.415l.342-2.854h-2.757v-1.83q0-.659.293-1t1.073-.342h1.488V3.762q-.976-.098-2.171-.098-1.634 0-2.635.964t-1 2.72V9.47H7.951v2.854h2.415v7.221H1.413q-.439 0-.744-.305t-.305-.744V1.859q0-.439.305-.744T1.413.81H18.05z" />
                  </svg>
                <span class="icon-fallback-text">Facebook</span>
              </a>
            </li>

            <li>
              <a href="http://twitter.com/materializecss" title="Materialize Shopify Themes on Twitter">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter"
                  viewBox="0 0 20 20">
                  <path fill="#444"
                    d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z" />
                  </svg>
                <span class="icon-fallback-text">Twitter</span>
              </a>
            </li>

            <li>
              <a href="http://snapchat.com" title="Materialize Shopify Themes on Snapchat">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-snapchat"
                  viewBox="0 0 50 50">
                  <path
                    d="M46.775 35.079c-5.805-.957-8.458-6.971-8.544-7.164a1.536 1.536 0 0 0-.056-.132c-.175-.354-.352-.851-.204-1.2.256-.604 1.462-.987 2.185-1.216.254-.081.495-.158.684-.232 1.752-.692 2.629-1.601 2.609-2.703-.017-.887-.696-1.697-1.694-2.05a3 3 0 0 0-1.148-.223c-.275 0-.688.039-1.087.225-.667.313-1.256.481-1.672.5a1.973 1.973 0 0 1-.234-.024l.042-.687c.196-3.112.44-6.984-.611-9.342-3.098-6.942-9.669-7.481-11.613-7.481l-.883.008c-1.936 0-8.493.539-11.587 7.477-1.052 2.358-.808 6.229-.612 9.339l.008.12.035.566c-.433.078-1.28-.066-2.158-.477-1.195-.557-3.349.18-3.646 1.741-.131.692.029 2.003 2.575 3.01.19.076.431.153.687.233.72.229 1.925.611 2.182 1.216.148.35-.028.845-.236 1.271-.109.255-2.746 6.266-8.564 7.224-.742.12-1.27.777-1.228 1.534.012.201.06.401.143.596.528 1.236 2.445 2.087 6.025 2.672.062.208.131.521.169.696.077.352.157.714.267 1.089.104.354.468 1.178 1.603 1.178.342 0 .719-.074 1.119-.152.596-.117 1.338-.262 2.291-.262.53 0 1.078.046 1.628.138 1.016.169 1.935.818 3.001 1.571 1.664 1.177 3.55 2.51 6.475 2.51.077 0 .155-.002.23-.007.108.005.216.007.326.007 2.924 0 4.812-1.334 6.479-2.512 1.017-.72 1.978-1.399 2.995-1.569a10.067 10.067 0 0 1 1.63-.138c.919 0 1.644.118 2.292.245.464.091.83.135 1.169.135.759 0 1.339-.435 1.55-1.159.11-.37.19-.724.268-1.082.029-.135.103-.47.169-.692 3.58-.584 5.498-1.434 6.022-2.661.084-.194.133-.397.146-.608a1.467 1.467 0 0 0-1.227-1.528z" />
                  </svg>
                <span class="icon-fallback-text">Snapchat</span>
              </a>
            </li>

          </ul>
        </div>
        

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <small>Copyright &copy; 2019</small>
      </div>
    </div>
  </footer>


</div>


<!-- Javascript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script
  src="//cdn.shopify.com/s/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js"
  type="text/javascript"></script>

<script
  src="//cdn.shopify.com/s/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js"
  type="text/javascript"></script>

<!--[if (gt IE 9)|!(IE)]><!-->
<script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/vendor.js?12888061890507140117" defer="defer"></script>
<!--<![endif]-->
<!--[if lt IE 9]><script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/vendor.js?12888061890507140117"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/theme.js?12888061890507140117" defer="defer"></script>
<!--<![endif]-->
<!--[if lt IE 9]><script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/theme.js?12888061890507140117"></script><![endif]-->


<style>
  .gallery .gallery-item:nth-child(n + 7) {
    display: none;
  }
</style>
<script>
  $(document).ready(function () {
    var pagination_limit = 6;
    console.log("PAGE LIMIT", pagination_limit);
    var $all_products = $('.gallery .gallery-item');
    var $current_products = $all_products;
    var page_max = Math.floor($current_products.length / pagination_limit) + 1;
    var page_number = getUrlParameter('page') || 1;
    var $shown_products = getPaginated($current_products, page_number, pagination_limit);
    var $masonry = $('.gallery');
    $masonry.find('.gallery-item:nth-child(n +' + ($shown_products.length + 1) + ')').remove();
    renderPagination($('.gallery'));

    // Get Url parameter
    function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    }

    // Slice products with respect to pagination
    function getPaginated(products, page, limit) {
      var start = (page - 1) * limit;
      var end = page * limit;
      return products.slice(start, end);
    }

    // Render pagination elements
    function renderPagination(gallery) {
      page_max = Math.floor($current_products.length / pagination_limit) + 1;
      var $pagination = $('<ul class="pagination"></ul>');
      var left = $('<li data-paginate="left"><a><i class="material-icons">chevron_left</i></a></li>');
      var right = $('<li data-paginate="right"><a><i class="material-icons">chevron_right</i></a></li>');

      // Add .container if dark_theme
      if (false) {
        $pagination.addClass('container');
      }

      // If only 1 page, don't render
      if (page_max === 1) {
        gallery.next('ul.pagination').remove();
        return;
      }

      if (page_number === 1) {
        left.addClass('disabled');
      } else if (page_number === page_max) {
        right.addClass('disabled');
      }

      $pagination.append(left);
      for (var i = 0; i < page_max; i++) {
        var curr_page_number = i + 1;
        var $page = $('<li data-paginate="' + curr_page_number + '"><a>' + curr_page_number + '</a></li>');
        if (curr_page_number === page_number) {
          $page.addClass('active');
        } else {
          $page.addClass('waves-effect');
        }
        $pagination.append($page);
      }
      $pagination.append(right);

      if (gallery.next('ul.pagination').length) {
        gallery.next('ul.pagination').replaceWith($pagination);
      } else {
        gallery.after($pagination);
      }

      $pagination.find('li:not(.disabled):not(.active)').on('click', function () {
        var data_paginate = $(this).attr('data-paginate');
        if (data_paginate === 'left') {
          changePage(page_number - 1);
        } else if (data_paginate === 'right') {
          changePage(page_number + 1);
        } else {
          changePage(parseInt(data_paginate));
        }
      });
    }

    // Render products, reinit galleryExpand, render pagination
    var renderProducts = function (gallery, added, removed) {
      gallery
        .masonry('remove', removed)
        .masonry('layout');

      gallery
        .append(added)
        .masonry('appended', added)
        .masonry('layout');

      gallery.find('.gallery-expand').galleryExpand({
        onShow: Window.GalleryExpandOnShow,
        dynamicRouting: true
      });


      // Reinit SPR
      if (SPR) {
        SPR.initDomEls();
        SPR.loadBadges();
      }

      renderPagination(gallery);
    };

    // Change page and handle masonry
    var changePage = function (page) {
      page_number = page;
      $shown_products = getPaginated($current_products, page, pagination_limit);

      renderProducts($masonry, $shown_products, $masonry.find('.gallery-item'));
    };

    var categories = $('nav .categories-container');
    if (categories.length) {
      function filterProducts(link) {
        console.log("FILTER PRODUCTS", link.parent('.categories').attr('data-filter'));

        var type_selector = '.gallery-item';

        // Change active of button if not variant (select fields)
        if (link.parent('.categories').attr('data-filter') !== 'variant') {
          link.parent().find('li').removeClass('active');
          link.addClass('active');
        }

        categories.find('.categories').each(function () {
          // Generate type selector for variants (select fields)
          if ($(this).attr('data-filter') === 'variant') {
            var selects = $(this).find('select');
            selects.each(function () {
              var val = $(this).val();
              if (val !== 'all') {
                var filter_type = $(this).attr('name');
                type_selector += '[data-' + filter_type + '="' + val + '"]';
              }
            });

            // Generate type selector for everything else (hash based)
          } else {

            console.log("FIND HASH", $(this));
            var hash = $(this).find('li.active > a').first()[0].hash.substr(1);
            if (hash !== 'all') {
              var filter_type = $(this).attr('data-filter');
              type_selector += '[data-' + filter_type + '="' + hash + '"]';
            }
          }
        });

        console.log("FILTER", type_selector);

        page_number = 1;
        var $removed_products = $remaining_products = $added_products = $();

        $removed_products = $shown_products.not(type_selector);
        $remaining_products = $shown_products.filter(type_selector);
        $current_products = $all_products.filter(type_selector);
        $shown_products = getPaginated($current_products, page_number, pagination_limit);
        $added_products = $shown_products.not($remaining_products);
        $removed_products = $removed_products.add($remaining_products.not($shown_products));

        console.log($removed_products, $remaining_products, $shown_products, $added_products);

        renderProducts($masonry, $added_products, $removed_products);
      }

      // Add select onchange handler for variant filters
      if (categories.find('.categories[data-filter="variant"]')) {
        $(document).on('change', '.categories-container .categories select', function (e) {
          console.log("CHANGE", $(e.target));
          filterProducts($(e.target).closest('li'));
        });
      }

      // Add click handler for other filters
      var $links = categories.find('li');
      $links.each(function () {
        var $link = $(this);
        $link.on('click', function () { filterProducts($link); });
      });
    }

  });
</script>


<script>
  $(document).ready(function () {
    var categories = $('nav .categories-container');
    if (categories.length) {
      categories.pushpin({ top: categories.offset().top });
    }
  });
</script>