{{> header/header }}

<main role="main" id="MainContent">
    <nav style="height: 0px; " class="filter-navbar ">
        <div class="categories-wrapper">
            <div class="categories-container">
            </div>
        </div>
    </nav>

    <div class=" container ">
        <div class="gallery gallery-masonry row">



            <div class="col s12 m4 gallery-item gallery-expand gallery-filter
    
     gallery-fillscreen" data-type="" data-section-type="product" data-tag="fillscreen">
                <div class="gallery-curve-wrapper">



                    <a class="gallery-cover gray">
                        <img src="//cdn.shopify.com/s/files/1/2030/2737/products/overhead.jpg?v=1499414076"
                            alt="Workspace" crossorigin="anonymous" data-product-featured-image />
                    </a>

                    <div class="gallery-header">
                        <span class="title">Workspace</span>
                        <div class="product-ratings-price">

                            <span class="shopify-product-reviews-badge" data-id="10400383501"></span>


                            <span class="price" data-product-price>
                                $110.00
                            </span>
                        </div>
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>Workspace</h3>
                        </div>
                        <div class="checkout-column">
                            <form action="/cart/add" method="post" enctype="multipart/form-data">
                                <div class="price-quantity-wrapper">
                                    <div class="price-wrapper" data-price-wrapper>
                                        <label>price</label>
                                        <span class="price" data-product-price>
                                            $110.00
                                        </span>
                                    </div>

                                    <div class="input-field quantity-counter">
                                        <label for="Quantity">quantity</label>
                                        <i class="material-icons remove">remove_circle_outline</i>
                                        <input type="number" id="Quantity" name="quantity" value="1" min="1">
                                        <i class="material-icons add">add_circle_outline</i>
                                    </div>
                                </div>

                                <select name="id" class="no-js" data-product-select>

                                    <option selected="selected" value="40280428877">
                                        Default Title
                                    </option>

                                </select>


                                <button class="btn-large z-depth-0" type="submit" name="add" data-add-to-cart>
                                    <span data-add-to-cart-text>

                                        Add to Cart

                                    </span>
                                </button>


                                <div class="tags-wrapper">
                                    <label>tags</label>
                                    <div class="tags">

                                        <div class="chip"><a href="/collections/fillscreen-style/fillscreen"
                                                title="Show products matching tag Fillscreen">Fillscreen</a></div>

                                    </div>
                                </div>


                            </form>
                        </div>
                        <div class="description">
                            <p>
                                <meta charset="utf-8"><span>Paleo vaporware normcore voluptate veniam synth pour-over
                                    tousled small
                                    batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle
                                    rights meh pour-over
                                    normcore ea fashion axe hashtag kogi.</span></p>



                            <div id="shopify-product-reviews" data-id="10400383501">
                                <style scoped>
                                    .spr-container {
                                        padding: 24px;
                                        border-color: #ECECEC;
                                    }

                                    .spr-review,
                                    .spr-form {
                                        border-color: #ECECEC;
                                    }
                                </style>

                                <div class="spr-container">
                                    <div class="spr-header">
                                        <h2 class="spr-header-title">Customer Reviews</h2>
                                        <div class="spr-summary" itemscope itemprop="aggregateRating"
                                            itemtype="http://schema.org/AggregateRating">
                                            <meta itemprop="itemreviewed" content="Workspace">

                                            <span class="spr-starrating spr-summary-starrating">
                                                <meta itemprop="bestRating" content="5">
                                                <meta itemprop="worstRating" content="1">
                                                <meta itemprop="reviewCount" content="2">
                                                <meta itemprop="ratingValue" content="5.0">
                                                <i class='spr-icon spr-icon-star' style=''></i><i
                                                    class='spr-icon spr-icon-star' style=''></i><i
                                                    class='spr-icon spr-icon-star' style=''></i><i
                                                    class='spr-icon spr-icon-star' style=''></i><i
                                                    class='spr-icon spr-icon-star' style=''></i>
                                            </span>
                                            <span class="spr-summary-caption"><span
                                                    class='spr-summary-actions-togglereviews'>Based on 2
                                                    reviews</span>
                                            </span><span class="spr-summary-actions">
                                                <a href='#' class='spr-summary-actions-newreview'
                                                    onclick='SPR.toggleForm(10400383501);return false'>Write a
                                                    review</a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="spr-content">
                                        <div class='spr-form' id='form_10400383501' style='display: none'></div>
                                        <div class='spr-reviews' id='reviews_10400383501'></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-action">


                        <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
                            <i class="material-icons">star</i>
                        </a>

                    </div>
                </div>

                <script type="application/json" data-product-json>
      {"id":10400383501,"title":"Workspace","handle":"workspace","description":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e","published_at":"2017-07-07T03:54:10-04:00","created_at":"2017-07-07T03:54:34-04:00","vendor":"Materialize Shopify Themes","type":"","tags":["Fillscreen"],"price":11000,"price_min":11000,"price_max":11000,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":40280428877,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Workspace","public_title":null,"options":["Default Title"],"price":11000,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead.jpg?v=1499414076"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2030\/2737\/products\/overhead.jpg?v=1499414076","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\u003cspan\u003ePaleo vaporware normcore voluptate veniam synth pour-over tousled small batch. Elit chambray cloud bread snackwave culpa williamsburg adipisicing bicycle rights meh pour-over normcore ea fashion axe hashtag kogi.\u003c\/span\u003e"}
    </script>

            </div>
        </div>
    </div>
</main>

{{> footer/footer }}