<div id="shopify-section-footer" class="shopify-section">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                <small>Copyright &copy; 2019 | AI MarketPlace</small>
            </div>
        </div>
    </footer>


</div>