<div id="shopify-section-footer" class="shopify-section">
    <footer class="page-footer">
        <div class="container">
            <div class="row">

                <div class="col s12 m12">
                    <h5>Social</h5>
                    <ul class="social-icons">

                        <li>
                            <a href="http://facebook.com" title="Materialize Shopify Themes on Facebook">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook"
                                    viewBox="0 0 20 20">
                                    <path fill="#444"
                                        d="M18.05.811q.439 0 .744.305t.305.744v16.637q0 .439-.305.744t-.744.305h-4.732v-7.221h2.415l.342-2.854h-2.757v-1.83q0-.659.293-1t1.073-.342h1.488V3.762q-.976-.098-2.171-.098-1.634 0-2.635.964t-1 2.72V9.47H7.951v2.854h2.415v7.221H1.413q-.439 0-.744-.305t-.305-.744V1.859q0-.439.305-.744T1.413.81H18.05z" />
                                </svg>
                                <span class="icon-fallback-text">Facebook</span>
                            </a>
                        </li>

                        <li>
                            <a href="http://twitter.com/materializecss" title="Materialize Shopify Themes on Twitter">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter"
                                    viewBox="0 0 20 20">
                                    <path fill="#444"
                                        d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z" />
                                </svg>
                                <span class="icon-fallback-text">Twitter</span>
                            </a>
                        </li>

                        <li>
                            <a href="http://snapchat.com" title="Materialize Shopify Themes on Snapchat">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-snapchat"
                                    viewBox="0 0 50 50">
                                    <path
                                        d="M46.775 35.079c-5.805-.957-8.458-6.971-8.544-7.164a1.536 1.536 0 0 0-.056-.132c-.175-.354-.352-.851-.204-1.2.256-.604 1.462-.987 2.185-1.216.254-.081.495-.158.684-.232 1.752-.692 2.629-1.601 2.609-2.703-.017-.887-.696-1.697-1.694-2.05a3 3 0 0 0-1.148-.223c-.275 0-.688.039-1.087.225-.667.313-1.256.481-1.672.5a1.973 1.973 0 0 1-.234-.024l.042-.687c.196-3.112.44-6.984-.611-9.342-3.098-6.942-9.669-7.481-11.613-7.481l-.883.008c-1.936 0-8.493.539-11.587 7.477-1.052 2.358-.808 6.229-.612 9.339l.008.12.035.566c-.433.078-1.28-.066-2.158-.477-1.195-.557-3.349.18-3.646 1.741-.131.692.029 2.003 2.575 3.01.19.076.431.153.687.233.72.229 1.925.611 2.182 1.216.148.35-.028.845-.236 1.271-.109.255-2.746 6.266-8.564 7.224-.742.12-1.27.777-1.228 1.534.012.201.06.401.143.596.528 1.236 2.445 2.087 6.025 2.672.062.208.131.521.169.696.077.352.157.714.267 1.089.104.354.468 1.178 1.603 1.178.342 0 .719-.074 1.119-.152.596-.117 1.338-.262 2.291-.262.53 0 1.078.046 1.628.138 1.016.169 1.935.818 3.001 1.571 1.664 1.177 3.55 2.51 6.475 2.51.077 0 .155-.002.23-.007.108.005.216.007.326.007 2.924 0 4.812-1.334 6.479-2.512 1.017-.72 1.978-1.399 2.995-1.569a10.067 10.067 0 0 1 1.63-.138c.919 0 1.644.118 2.292.245.464.091.83.135 1.169.135.759 0 1.339-.435 1.55-1.159.11-.37.19-.724.268-1.082.029-.135.103-.47.169-.692 3.58-.584 5.498-1.434 6.022-2.661.084-.194.133-.397.146-.608a1.467 1.467 0 0 0-1.227-1.528z" />
                                </svg>
                                <span class="icon-fallback-text">Snapchat</span>
                            </a>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                <small>Copyright &copy; 2019</small>
            </div>
        </div>
    </footer>


</div>