.social-icons {
    display:flex;
    justify-content:center;
}

#MainContent {
    min-height:80vh;
}

.categories {
    margin-top:20px;
}

.categories li {
    display:inline-block;
}

.categories li a {
    color:white;
}

.categories li:not(:first-of-type){
    margin-left:20px;
}

.borderBottomGray {
    border-bottom:1px solid #d9d9d9;
    padding:20px 0px 20px 0px;
}

#dropdown1 li a{
    color:#608a42;
}

.popularCategories {
    margin-top:0px;
}

.marginLeft10 {
    margin-left:10px;
}

.btn {
    background-color:#75a951;
}

.btn:hover {
    background-color: #608a42;
}

.btn:focus {
    background-color: #608a42;
}

.card-content h5 {
    margin-bottom:30px;
}

.btn-small a {
    color:white !important;
}

.dropdown-content {
    background-color:white;
    color:#608a42;
}

/* .gallery {
    display: flex;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-content: center !important;
} */

.marginTop20 {
    margin-top:20px;
}

.add-btn-product {
    margin-top: 20px;
}

.hidden-element {
    display: none;
}
