.list-group-item {
  line-height: 2.5;
}

body {
  padding: 0px;
  margin: 0px;
  /* background-color:#f2f2f2; */
  overflow-x: hidden;
  font-family:'Open Sans', 'sans-serif';
}

.navbar-nav {
  position: absolute !important;
  float: right !important;
}

#logoBanner {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: -1;
}

.text-center {
  text-align: center !important;
}

.fontColorWhite {
  color: #666666;
}

.marginTop40 {
  margin-top: 40px;
}

.marginTop20 {
  margin-top: 20px;
}

.borderRadius8 {
  border-radius: 8px;
}

.modal-body img {
  height: auto;
  width: 450px;
}

.pull-right {
  text-align: right;
}

footer {
  height: 120px;
  width: 100%;
  background-color: #333333;
  color: #f2f2f2;
  font-size: 15px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  margin-top: 35vh;
}

.footer {
  display: flex;
  align-items:center;
}

.navb {
  height: 50px;
  width: 100%;
  background-color: #333333;
  color: #33adff;
  font-size: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#findFriend {
  float: right;
  padding: 8px 14px;
  background-color: rgb(255, 255, 255, 0.95);
  color:#f2f2f2;
  border: 1px solid rgb(0, 138, 230);
  font-size: 24px;
  margin: 60px 60px auto auto;
  box-shadow: 3px 1px 9px -1px #000000;
  border-radius: 4px;
  transition: border .05s ease-in-out;
}

#findFriend:hover {
  box-shadow: 2px 3px 15px -1px #000000;
  text-decoration: none;
  border: 2px solid rgb(203, 226, 241);
}

.marginLeft20 {
  margin-left: 20px;
  z-index: 100;
}

.marginLeft10 {
  margin-left: 10px;
  z-index: 100;
}

.pull-left {
  text-align: left;
}

.blackSheet {
  height: 100vh;
  widows: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
}

.marginBottom20 {
  margin-bottom: 20px;
}

.friendFont36 {
  margin-top: 10px;
  font-size: 36px;
  color: rgb(0, 138, 230);
}

#friendNav {
  font-size: 24px;
  height: 50px;
  width: 100%;
  background-color: #333333;
  color: #f2f2f2;
  display: flex;
  align-items: center;
}

#friendNav a {
  color: white;
  margin-top: 6px;
}

.navb i:hover {
  color: skyblue !important;
}

#friendNav a:hover {
  color: skyblue !important;
}

a {
  color: rgb(0, 138, 230);
}

a:hover {
  color: skyblue;
}

#friendNav h5 {
  margin-top: 10px;
  margin-left: 40px;
}

