<div id="shopify-section-header" class="shopify-section">

    <!-- Navbar and Header -->

    <nav class="nav-extended">

        <div class="nav-background">
            <div class="pattern active"
                style="background-image: url('//cdn.shopify.com/s/files/1/2030/2737/files/icon-seamless_ef568d79-394b-49ab-a3c5-128827d788e8.png?v=1496294246');">
            </div>
        </div>
        <div class="nav-wrapper container">
            <a href="/" itemprop="url" class="brand-logo site-logo">
                MarketPlace
            </a>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a href="/" class="site-nav__link">Home</a>
                </li>

                <li>
                    <a href="/addProduct" class="site-nav__link">New Product</a>
                </li>

            



                        <!-- Show Carousel instead of default page titles -->



                    </div>
    </nav>
    <ul class="side-nav" id="nav-mobile">

        <li>
            <a href="/" class="site-nav__link">Home</a>
        </li>

        <li>
            <a href="/addProduct" class="site-nav__link">Add Product</a>
        </li>




</div>